<h2>Name: {{recipe.name}}</h2>
<p>Description: {{recipe.description}}</p>
<p>Preparation time in minutes: {{recipe.duration}}</p>
<p>Difficulty: {{recipe.difficulty}}</p>
<p>Ingredients: {{recipe.ingredients}}</p>
<p>Gluten free: {{recipe.gluten_free}}</p>
<p>ID of uploader: {{recipe.student_id}}</p>